---
layout: default
---
<div class="row">
	<div class="col-3">
		<nav class="navbar navbar-light">
		<a class="navbar-brand" href="/interactive_examples.html">Interactive Examples</a>
		<ul class="nav flex-column">
		
		{% for post in site.posts %}
		{% if post.category == "ie" %}
			<li><a class="nav-link disabled" href="{{ post.url }}">{{post.title}}</a></li>
		{% endif %}
		{% endfor %}
		</ul>			
		</nav>
	</div>
	<div class="col-9">
		<div class="row">
			<h2>{{ page.title }}</h2>
		</div>
		{{ content }}
	</div>
</div>